apiVersion: v1
kind: Pod
metadata:
  name: qos-pod
spec:
  containers:
    - name: nginx
      image: nginx
      resources:
        requests:
          cpu: "200m"
          memory: "128Mi"
        limits:
          cpu: "200m"
          memory: "128Mi"
