apiVersion: v1
kind: Pod
metadata:
  name: high-request-pod
spec:
  containers:
    - name: nginx
      image: nginx
      resources:
        requests:
          cpu: "4"
          memory: "4Gi"
