apiVersion: v1
kind: Pod
metadata:
  name: resource-pod
spec:
  containers:
    - name: stress
      image: busybox
      command: ["sh", "-c", "while true; do echo hello; sleep 1; done"]
      resources:
        requests:
          cpu: "100m"
          memory: "64Mi"
        limits:
          cpu: "200m"
          memory: "128Mi"
